{% extends 'base.html' %}

{% load static %}


{% block content %}
    <div class="content-body">
        <!-- Zero configuration table -->
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Brands Info</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <a style="margin-left: 90%" class="btn btn-primary " href="{% url 'core:create-brand' %}">
                                Add
                            </a>

                            <div class="card-content collapse show">
                                <div class="card-body card-dashboard">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                            <tr>
                                                <th>Cohort</th>
                                                <th>Brand</th>
                                                <th>Sprint</th>
                                                <th>Sprint Goal</th>
                                                <th>Edit</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ obj.PO }} - {{ obj.scrum_master }}</td>
                                                <td>{{ obj.name }}</td>
                                                <td>{{ obj.get_current_sub_objective.Sprint.name }}</td>
                                                <td>{{ obj.get_current_sub_objective.objective }}</td>
                                                <td><a href="{% url 'core:update-brand' obj.pk %}">Edit</a></td>

                                            </tr>


                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ quarter.name }} Objectives</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <a style="margin-left: 90%" class="btn btn-primary " href="{% url 'core:add-objective' %}">
                                Add
                            </a>

                            <div class="card-content collapse show">
                                <div class="card-body card-dashboard">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                            <tr>
                                                <th>Objectives</th>
                                                <th>Completion</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for objective in objectives %}
                                                <tr>
                                                    <td>{{ objective.objective }}</td>
                                                    <td>{{ objective.completion }}</td>
                                                    <td><a href="{% url 'core:update-objective' objective.pk %}">Edit</a></td>

                                                </tr>
                                            {% endfor %}

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ quarter.name }} Sprints</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <a style="margin-left: 90%" class="btn btn-primary " href="{% url 'core:add-sprint' %}">
                                Add
                            </a>

                            <div class="card-content collapse show">
                                <div class="card-body card-dashboard">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                            <tr>
                                                <th>Sprint</th>
                                                <th>objective</th>
                                                <th>add objective </th>
                                                <th>completion</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for sprint in sprints %}
                                                <tr>
                                                    <td>{{ sprint.name }}</td>
                                                    <td>
                                                        {% for sub in sprint.sprint_sub.all %}
                                                            <a href="{% url 'core:update-sub-objective' sub.pk %}"> {{ sub }} </a>,
                                                        {% endfor %}
                                                    </td>
                                                    <td><a href="{% url 'core:add-sub-objective' %}">Add + </a> </td>
                                                    <td><a href="{% url 'core:update-sprint' sprint.pk %}">Edit</a></td>

                                                </tr>
                                            {% endfor %}

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!--/ Zero configuration table -->
    </div>

{% endblock %}